@model IEnumerable<AdminLteMvc.Proyectos_Ubicaciones>

@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

 <style type="text/css">
    .btn-label {
        position: relative;
        left: -12px;
        display: inline-block;
        padding: 6px 12px;
        background: rgba(0,0,0,0.15);
        border-radius: 3px 0 0 3px;
    }

    .btn-labeled {
        padding-top: 0;
        padding-bottom: 0;
    }

    .btn {
        margin-bottom: 10px;
    }

    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

    .custab:hover {
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
    }
</style>

<script language="javascript">
    function doSearch() {
        var tableReg = document.getElementById('datos');
        var searchText = document.getElementById('searchTerm').value.toLowerCase();
        var cellsOfRow = "";
        var found = false;
        var compareWith = "";

        // Recorre todas las filas con contenido de la tabla
        for (var i = 1; i < tableReg.rows.length; i++) {
            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            found = false;
            // Recorre todas las celdas
            for (var j = 0; j < cellsOfRow.length && !found; j++) {
                compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Busca el texto en el contenido de la celda
                if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                    found = true;
                }
            }
            if (found) {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
    }
</script>

<div class="row">
    <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">LISTADO DE PROYECTOS</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-sm-8">
                                <label class="floating-label" for="searchTerm"> &nbsp <span class="glyphicon glyphicon-search"></span> </label>
                                <INPUT placeholder="Buscar Proyecto " type="text" id="searchTerm" onkeyup="doSearch()">

                                <a class="btn btn-info" href="~/Proyectos_Ubicaciones/Create"><i class="glyphicon-plus"></i> Nuevo Proyecto </a>
                            </div>
                        </div>
                    </form>

                  
                    <table id="datos" class="table table-striped table-bordered table-hover custab">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="@Url.Action("Edit/"+item.CodigoProyecto, "Proyectos_Ubicaciones")"><span class="glyphicon glyphicon-edit">Editar</span></a> <a class='btn btn-info btn-xs' href="@Url.Action("Details/"+item.CodigoProyecto, "Proyectos_Ubicaciones")"><span class="glyphicon glyphicon-edit"></span> Detalle </a></td>
                            </tr>
                        }

                    </table>

                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.col -->
